nav {
  margin-bottom: 0.3rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.cat-card {
  width: 350px;
  height: auto;
  margin: 1vmin;
  margin-top: 2vmin;
}

.cat-cards-container {
  margin-top: 2vmin;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  /* height: 300px; */
}

.new-profile-form {
  width: 50%;
  text-align: -webkit-center;
  margin: auto;
}

#submit {
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png"),
  default;
}

img {
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png"), auto;
}
